<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= context.config.title %></title>
  <meta name="description" content="智慧型教育培训机构管理系统">
  <%= context.config.viewport %>
  <meta name="key" content="智慧型教育培训机构管理系统，智慧，教育，早教，幼教，培训，管理系统，约课，排课，活动，营销，审批，商城。">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-store,no-cache">
  <meta http-equiv="expires" content="0">
  <link rel="shortcut icon" href="https://lolita-api.oss-cn-shenzhen.aliyuncs.com/chocloud/favicon.ico">
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1465461_cchvo2bktgk.css"/>
</head>
<body>
<div id="root"></div>
</body>
</html>
